h1{
    text-align: center;
}
#headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    height: auto;
}
nav{
    text-align: center;
}
.info{
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}
table{
    text-align: center;
}
/* There is a specificity conflict here between class and id
 * We are coloring the text to be blue in the class
 * The id is coloring the text to be gray, thus a conflict
 * Since id has the higher specificity, it overrides the class */
.footerr{
    text-align: end;
    color: blue;
}
#footerr2{
    color: gray;
}